@page "/"

<PageTitle>BOLÃO DO FI - COPA DO MUNDO 2022 QATAR 1 FASE</PageTitle>
<p>
    <img src="images/pontuacao_bolao.png" />
</p>
@*
<SurveyPrompt Title="How is Blazor working for you?" />

<GameBets Title="Bets" />
*@